aiosignal==1.2.0
anyio
appnope
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1655419414885/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1649463573192/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1656355450470/work
brotlipy @ file:///Users/runner/miniforge3/conda-bld/brotlipy_1648854210220/work
certifi==2022.6.15
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1656783005990/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1655906222726/work
click==8.0.4
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1655412516417/work
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1657174324676/work
debugpy @ file:///Users/runner/miniforge3/conda-bld/debugpy_1660619043328/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
distlib==0.3.5
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1660472483358/work
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1658064924516/work/dist
filelock==3.8.0
flit_core @ file:///home/conda/feedstock_root/build_artifacts/flit-core_1645629044586/work/source/flit_core
frozenlist==1.3.1
grpcio==1.43.0
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1642433548627/work
importlib-metadata @ file:///Users/runner/miniforge3/conda-bld/importlib-metadata_1653252891204/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1658604161399/work
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1657295113967/work
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1653754984678/work
ipython-genutils==0.2.0
ipywidgets
jedi
Jinja2
joblib
json5
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-server
jupyter_core
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
lxml
MarkupSafe
matplotlib-inline
mistune
msgpack==1.0.4
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook-shim
numpy
packaging
pandas==1.4.3
pandocfilters
parso
pexpect
pickleshare
pkgutil_resolve_name
platformdirs==2.5.2
ply==3.11
prometheus-client
prompt-toolkit
protobuf==3.20.1
psutil
ptyprocess
pure-eval
pycparser
Pygments
pyOpenSSL
pyparsing
PyQt5==5.15.7
PyQt5-sip==12.11.0
pyrsistent
PySocks
python-dateutil
pytz
PyYAML==6.0
pyzmq
qtconsole
QtPy
ray==1.13.0
requests
scikit-learn
scipy==1.9.0
Send2Trash
sip
six
sniffio
soupsieve
stack-data
tabulate==0.8.10
tensorboardX==2.5.1
terminado
threadpoolctl
tinycss2
toml
torch==1.12.1
tornado
tqdm
traitlets
typing_extensions
urllib3
virtualenv==20.16.3
wcwidth
webencodings==0.5.1
websocket-client
widgetsnbextension
zipp
